name: Renovate

on:
  schedule:
    - cron: "0 4 * * 1"
  workflow_dispatch: {}

jobs:
  renovate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Run Renovate
        uses: renovatebot/github-action@v46.0.2
        env:
          # Repository taken from variable to keep configuration file generic
          RENOVATE_REPOSITORIES: ${{ github.repository }}
          # Onboarding not needed for self hosted
          RENOVATE_ONBOARDING: "false"
          LOG_LEVEL: "debug"
        with:
          token: ${{ secrets.RENOVATE_TOKEN }}
          configurationFile: renovate.json
